.botonPrincipal {
  width: 20rem;
  height: 100%;
  padding: 1rem;
  cursor: pointer;
  background: var(--primary-color-1);
  border-radius: 0.75rem;
  border: none;
  font-family: var(--roboto-slab);
  font-size: 1.5rem;
  font-weight: 500;
  transition: background ease-in-out 0.2s;
}

.botonPrincipal:hover {
  background: var(--primary-color-2);
}

.botonPrincipal:disabled {
  cursor: not-allowed;
  background: var(--disabled-color);
}

.botonRedondo {
  border: none;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background: var(--secondary-color-purple);
  border-radius: 50%;
}

.botonRedondo.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
